
<div class="block" id="block-forms">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><a href="#block-text">Categoria</a></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Editando Categoria</h2>
    <div class="inner">

    <%= render 'form' %>

    <%= link_to 'Show', @categorium %>
    <%= link_to 'Back', categoria_path %>
 </div>
  </div>
</div>

