<div class="block" id="block-forms">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Listado", usuarios_path%></a></li>
      <li class=" active"><a href="#block-text">Usuario</a></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Editando un pobre usuario</h2>
    <h3>&nbsp;&nbsp;&nbsp;El password no se puede cambiar, lo siento </h3>
    <div class="inner">

      <%= render 'form' %>

      <%= link_to 'Show', @usuario %> |
      <%= link_to 'Back', usuarios_path %>
    </div>
  </div>
</div>

